@import "../node_modules/ckeditor5/dist/ckeditor5.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* CropperJS v2 styles */
cropper-canvas {
  display: block;
  width: 100%;
  height: 100%;
}